
.bodyColor{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(227, 217, 217);
}

.imgMe {
    border-radius: 50%;
    width: 150px;
    border-radius: 50%;
}

.divContext{
    text-align: center;
    width: 40%;
    height: auto;
    font-size: 50;
    position: relative;
}


.divContextCenter{
    position:absolute

}

.textCenter{
    align-self: center;
}

.link{
    text-decoration: dotted;
    color:rgb(61, 111, 164);
}

.contact{
    width: 100px;
}